@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Raleway:wght@300;400;500;600;700&display=swap');

@text-font: 'Caveat', cursive;

p {
    font-size: 30px;
    font-family: @text-font;
}
.todo-list-item {
width:300px;
padding: 20px 10px;
color:#000;
background-color: #FFFFFF;
border-radius: 20px;
margin: 15px
}
